nav {
  border-bottom: 3px rgb(199, 194, 194) solid;
}
nav h3 {
  color: brown;
}
nav a {
  color: black;
}
nav a:hover {
  color: brown;
  text-decoration: none;
}
.img-fluid {
  height: 560px;
  clear: both;
}
.landing-page {
  display: flex;
  margin-top: 70px;
}
.float-right h3,
h4 {
  color: brown;
}
.float-right {
  width: 40%;
  margin-left: 50px;
}
.content {
  background-color: chocolate;
  margin-top: 80px;
  height: 556px;
  display: flex;
  justify-content: space-between;
}
.names {
  float: right;
  display: flex;
  background-color: rgb(128, 128, 128, 0.5);
  margin-right: 40px;
  height: 400px;
  border-radius: 50px;
  margin-top: 40px;
  padding: 50px;
  color: white;
  font-size: 20px;
  padding-bottom: 50px;
}
.male-names {
  margin-right: 40px;
  border-right: white 2px solid;
  padding-right: 20px;
}
.input {
  display: grid;
  grid-template-columns: repeat(4 6fr);
  margin: 40px;
  margin-left: 60px;
}
input {
  border: none;
  border-bottom: white 2px solid;
  background-color: transparent;
  color: black;
  width: 100%;
  padding: -20px;
}
select {
  background-color: transparent;
  border: none;
  border-bottom: white 2px solid;
  width: 100%;
}
.display_answer {
  margin-top: 100px;
  text-align: center;
}
.display_answer input {
  width: 50%;
  font-size: 16px;
}
textarea {
  margin-top: 30px;
}
label {
  color: white;
  margin-left: 20px;
}
::placeholder {
  font-weight: bold;
  font-size: 20px;
}
option {
  width: 90%;
}
