nav {
  border-bottom: 3px rgb(199, 194, 194) solid;
}
nav h3 {
  color: brown;
}
nav a {
  color: black;
}
nav a:hover{
  color: brown;
  text-decoration: none;
}
.img-fluid {
  height: 560px;
  clear: both;
}
.landing-page {
  display: flex;
  margin-top: 70px;
}
.float-right h3, h4{
color: brown;
}
.float-right{
  width: 40%;
margin-left: 50px;
}